[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ipython = "*"
jupyter = "*"
aiohttp = "*"
asyncio = "*"
sqlalchemy = "*"
pymysql = "*"
django = "*"

[requires]
python_version = "3.5"
